#main-footer {
  margin-left: 10px;
  margin-right: 10px;
}
.contact-list a {
  display: inline-block;
  /*background-color:#b677d4;*/
  /*background-color: #81f0a3;*/
  background-color: black;
  color: white;
  margin-bottom: var(--space-medium);
  padding: var(--space-small);
}

.contact-list {
  padding-left: 0;
  list-style: none;
  font-size: var(--space-medium);
}